<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="common-header">
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>


    <title>Hassouf's Bookstore</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="/css/styles.css" rel="stylesheet"/>
    <link href="/image/apple-icon-76x76.png" rel="icon" sizes="32x32" type="image/png">

</head>

<body>
<div th:fragment="navbar">
    <div class="page-top" style="width: 100%; height:20px; background-color: royalblue;"></div>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Ayoub's Bookstore</a>
            </div>
            <div id="navbar">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown"
                           href="#"
                           role="button">BOOKS <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Browse the bookshelf</a></li>
                            <li><a href="#">Store hours &#38; Directions</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </li>
                    <li>
                        <form class="navbar-form">
                            <div class="form-group">
                                <input class="form-control" name="keyword" placeholder="Book title" type="text"/>
                            </div>
                            <button class="btn btn-default" type="submit">Search</button>
                        </form>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">SHOPPING CART</a></li>
                    <li><a sec:authorize="isAnonymous()" th:href="@{/login}">MY ACCOUNT</a></li>
                    <li><a sec:authorize="isAuthenticated()" th:href="@{/myProfile}">MY ACCOUNT</a></li>
                    <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">LOG OUT</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
</div>
<div th:fragment="body-bottom-scripts">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
    ></script>
    <script src="/js/bootstrap.min.js"></script>
</div>
</body>
</html>

<!--src="https://code.jquery.com/jquery-1.12.4.min.js"-->