<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header"></head>

<body>

<div th:replace="common/header :: navbar"></div>
<div class="container">
    <div class="row" style="margin-bottom: -75px;">
        <div class="col-xs-8">
            <h2 class="section-headline"><span>User Account</span></h2>
        </div>
        <div class="col-xs-4">
            <img alt="..." class="img-responsive" src="/image/logo.png"/>
        </div>
    </div>
    <hr style="position:absolute; width: 100%; height: 6px; background-color: #333; z-index: -1; margin-top: -2px;"/>
    <img alt="..." class="img-responsive" src="/image/wood.png" style="position: relative; margin-top: 80px;"/>
    <div class="row" style="margin-top: 120px;">
        <div class="col-xs-9 col-xs-offset-3">
            <!--Nav tabs-->
            <ul class="nav nav-tabs">
                <li th:classappend="${classActiveNewAccount}? 'active'"><a data-toggle="tab" href="#tab-1"> <span
                        style="color: red;">Create new account</span></a></li>
                <li th:classappend="${classActiveLogin}? 'active'"><a data-toggle="tab" href="#tab-2"> <span
                        style="color: red;">Log in</span></a></li>
                <li th:classappend="${classActiveForgetPassword}? 'active'"><a data-toggle="tab" href="#tab-3"><span
                        style="color: red;">Forgot password?</span></a></li>
            </ul>

            <!--Tab panels-->
            <div class="tab-content">
                <!--create new user-->
                <div class="tab-pane fade" id="tab-1" th:classappend="${classActiveNewAccount}? 'in active'">
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none;">
                            <div class="panel-body" style="background-color: #ededed; margin-top: 20px; ">
                                <div class="alert alert-info" th:if="${emailSent}">
                                    An email has been sent to the email address you just
                                    entered. Please validate your email address and update your password information.
                                </div>
                                <form method="post" th:action="@{/newUser}">
                                    <div class="form-group">
                                        <label for="newUsername">* Username: </label>&nbsp;<span
                                            style="color: red;"
                                            th:if="${usernameExists}">Username already exists. Choose a different one.</span>
                                        <input class="form-control" id="newUsername" name="username" required="required"
                                               type="text"/>
                                        <p style="color:#828282">Enter your username here.</p>
                                    </div>

                                    <div class="form-group">
                                        <label for="email">* Email Address: </label>&nbsp;<span
                                            style="color: red;"
                                            th:if="${emailExists}">Email already exists. Choose a different one.</span>
                                        <input class="form-control" id="email" name="email" required="required"
                                               type="text"/>
                                        <p style="color:#828282">A valid email address. All emails from the system will
                                            be sent to this address. The email address is not made public and will only
                                            be used if you wish to receive a new password or wish to receive certain
                                            notifications.</p>
                                    </div>
                                    <button class="btn btn-primary" type="submit">Create new account</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!--log in-->
                <div class="tab-pane fade" id="tab-2" th:classappend="${classActiveLogin}? 'in active'">
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none;">
                            <div class="panel-body" style="background-color: #ededed; margin-top: 20px;">
                                <div th:if="${param.error != null}" style="color: red;">Username or Password Incorrect.</div>
                                <form method="post" th:action="@{/login}">
                                    <div class="form-group">
                                        <label for="newUsername1">* Username:</label>
                                        <input class="form-control" id="newUsername1" name="username"
                                               required="required"
                                               type="text"/>
                                        <p style="color:#828282">Enter your username here.</p>
                                    </div>

                                    <div class="form-group">
                                        <label for="password">* Password: </label>
                                        <input class="form-control" id="password" name="password" required="required"
                                               type="password"/>
                                        <p style="color:#828282">Enter password that accompanies your username</p>
                                    </div>
                                    <button class="btn btn-primary" type="submit">Log in</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Password forgotten-->
                <div class="tab-pane fade" id="tab-3" th:classappend="${classActiveForgetPassword}? 'in active'">
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none;">
                            <div class="panel-body" style="background-color: #ededed; margin-top: 20px;">
                                <div th:if="${emailNotExist}" class="alert alert-danger">Email does not exist.</div>
                                <div th:if="${forgetPasswordEmailSent}" class="alert alert-success">We sent you an email.</div>
                                <form method="post" th:action="@{/forgetPassword}">
                                    <div class="form-group">
                                        <label for="recoverEmail">* Your Email:</label>
                                        <input class="form-control" id="recoverEmail" name="email" required="required"
                                               type="text"/>
                                        <p style="color:#828282">Enter your registered email address here.</p>
                                    </div>

                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--end of container-->

<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>